.ProgressBar {
  position: relative;
  .container {
    position: absolute;
    background-color: bisque;
    background-image: url('/images/progressbar.png');
    background-size:cover;
    width: 100%;
    height: 100%;
    width: 96%;
    height: 45%;
    top: 27.5%;
    left: 2%;
    border-radius: 1vw;
    box-shadow: 0 0 1vw #fff;
  }
}
.filler {
  position: absolute;
  background-color: #001636;
  height: 100%;
  width: 1%;
  right: 0%;
  border-radius: 1vw 1vw 1vw 0vw;
  overflow: visible;
  .cursor {
    display: inline-block;
    $width: 5.5vw;
    $height: 210%;
    width: $width;
    height: $height;
    overflow: visible!important;
    span {
      width: $width!important;
      height: $height!important;
      overflow: visible!important;
      img {
        top: -50%!important;
        left: -4vw!important;
      }
    }
  }
}

