.SocialLink {
  display: inline-block;
  width: 4vw;
  height: 4vw;
  background-image: url('/images/social.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0vw 1vw 0vw 0vw;
  font-size: 2.8vw;
  text-align: center;
  line-height: 3.9vw;
  color: #000;
}