@font-face {
    font-family: badabb;
    src: url('/fonts/BADABB__.TTF');
}

@font-face {
    font-family: bm_jua;
    src: url('/fonts/BM JUA.ttf');
}

@font-face {
    font-family: bravery;
    src: url('/fonts/Bravary.ttf');
}

@font-face {
    font-family: digi;
    src: url('/fonts/DS-DIGI.TTF');
}

@font-face {
    font-family: Comfortaa;
    src: url('/fonts/Comfortaa-VariableFont_wght.ttf');
}