html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
    /* width: 1000px; */
}

body {
  position: relative;
  /* max-width: 1000px;
  margin: 0vw auto; */
  /* background-color:aqua; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@viewport {
  max-width: 1000px;
}